@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans&display=swap');

body{
  font-size: 16px;
  background: white;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  z-index: 1;
}

.App {
  text-align: center;
}

.App-header {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  top: 4em;
}

/* fade backdrop*/
.heading-background{
  position: fixed;
  opacity: 0.09;
  font-size: 25em;
  left: 0em;
  top: -0.5em;
  z-index: -100;
  color:#37925d91;
}
/* header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */

.kev{
  font-size: 1em;
  font-weight: 400;  
  padding: 1em;
  margin-right: 50em;
  display: inline-block;
}

.kev:after{
  content: '';
  width: 0px;
  height: 3px;
  display: block;
  background: rgba(7, 167, 74, 0.747);
  transition: 300ms;
  width: 102%;
}

nav{
  position: fixed;
  left: 60em;
  top: 6em;
  z-index: 100;
}
nav li{
  display: inline-block;
  cursor: pointer;
}
nav li .link{
  text-decoration: none;
  color: black;
  padding: 1em;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
li .link:hover{
  opacity: 1;
  font-weight: bold;
  background: rgba(60, 197, 94, 0.836);
  text-decoration: underline;
}
.active{
  color:black;
  opacity: 1;
  background: rgb(34, 197, 75);
  font-weight: bold;
}

.header-title button{
  background: black;
  border: 0px;
  padding: 1em 3em;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  text-align: center;
}
.header-title button:hover{
  opacity: 0.8;
  background: rgb(29, 165, 63);
}
.header-title button a{
  font-family: 'Open Sans', sans-serif;
  color:white;
  text-decoration: none;
}
.header-title{
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  text-align: left;
  top:2em;
}
.about{
  display: flex;
  flex-direction: row;
}
.about-content{
  position: relative;
  left: 15em;
}
.about-content h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 5em;
  text-align: left;
}
.about-content p{
  font-size: 1.3em;
  text-align: left;
  width: 37em;
}
.about img{
  margin-left: 5em;
}
.work{
  position: relative;
  display: flex;
  flex-direction: column;
  left: 15em;
  top: 8em;
  align-items: flex-start;
}
.work .heading{
  font-family: 'Montserrat', sans-serif;
  font-size: 5em;
  text-align: left;
}
.work .work-content{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 2em;
}

.project img{
  width: 20em;  
  height: 20em;
  box-shadow: 8px 8px 5px rgba(128, 128, 128, 0.438);
}
.project img:hover{
  box-shadow: 1px 1px 12px 12px rgba(128, 128, 128, 0.726);
}
 
.contact{
  position: relative;
  top: 20em;
  left: 15em;
  text-align: left;
}
.contact h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 5em;
  text-align: left;
}
.amazing-color{
  color:#49b163;
  opacity: 1;
}

.contact .email{
  color:black;
  font-size: 2em;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.contact .email:hover{
  opacity: 1;
  background: rgba(60, 197, 94, 0.836);
  font-weight: bold;
}
.contact li{
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 1em;
  margin-left: 0;
}
.contact li a{
  text-decoration: none;
  color:black;
}
.footer{
  position: relative;
  top: 2em;
  padding: 1em;
}

.footerSocialLinks {
  cursor: pointer;
  text-decoration: none;
  color: black;
  padding:1em;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.footerSocialLinks:hover {
  opacity: 1;
  font-weight: bold;
  background: rgba(60, 197, 94, 0.836);
}

/* JUMBO SCALING 1332 - 1900 ---------------------------- */
@media screen and (min-width: 1332px) and (max-width: 1900px){

  
}



/* DESKTOP AND LAPTOP SCALING ---------------------------- */
@media screen and (min-width: 1024px) and (max-width: 1331px){

.kev{
  margin-right: 50em;
}

nav{
  position: fixed;
  left: 40em;
  top: 6em;
  z-index: 100;
}
nav li{
  display: inline;
  cursor: pointer;
}

.header-title{
  top: 0em;
}
.about-content{
  left: 2em;
  top: 0em;
}

.about-content p{
  width: 30em;
}

.work{
  left: 7em;
}

.work .work-content{
  grid-template-columns: repeat(1,1fr);
}

.contact{
  left: 7em;
}
.contact h1{
  font-size: 3em;
}

}


/* DESKTOP AND LAPTOP SCALING smaller---------------------------- */
@media screen and (min-width: 880px) and (max-width: 1023px){

  .kev{
    margin-right: 40em;
  }
  .header-title{
    top: 0em;
    left: 0em;
  }
  .about-content{
    left: 2em;
    top: -2em;
  }
  
  .about-content p{
    width: 30em;
  }
  
  .work{
    left: 2em;
  }
  
  .work .work-content{
    grid-template-columns: repeat(2,1fr);
  }
  .project img{
    width: 24em;  
    height: 24em;
  }
  .contact{
    left: 2em;
  }
  .contact h1{
    font-size: 3em;
  }
  
  }

/* ------------------- */
@media screen and (min-width: 480px) and (max-width: 879px){

  .kev{
    margin-right: 20em;
  }
  .header-title{
    top: 0em;
    left: .50em;
  }
  .about-content{
    left: 2em;
    top: -2em;
  }
  
  .about-content p{
    width: 20em;
  }
  
  .work{
    left: 1em;
  }
  .work .work-content{
    grid-template-columns: repeat(1,1fr);
  }
  .project img{
    width: 28em;  
    height: 28em;
  }
  
  .contact{
    left: 2em;
    font-size: 12px;
  }
  .contact h1{
    font-size: 3em;
  }
  
  }




/* SMARTPHONES PORTRAIT */
@media screen and (min-width: 320px) and (max-width: 480px){

body {
  font-size: 6px;
}

.kev{ 
  font-size: 4em;
  font-weight: 400;
  padding: 0.25em;
  margin: 0px 0px 0px 45px;
  /* display: inline-block; */
}

.kev:after{
  content: '';
  height: 0.10em;
  background: rgba(7, 167, 74, 0.747);
  transition: 300ms;
  width: 100%;
  border-radius: 40px;
}

.heading-background{
  display: none;
}
nav{
  display: none;
}

.header-title{ /* Hello I'm Kevin... intro */
  font-size: 4em;
  top: 1em;
}
.header-title button{
  margin-top: 1.5em;
  background: rgba(7, 167, 74, 0.877);
}

.about{
  position: relative;
  display: flex;
  top: -40em;
}
.about h1{
  text-align: left;
}
.about img{
  display: none;
}
.about-content{
  left: 8em;
}
.about-content p{
  font-size: 3.5em;
  text-align: left;
  width: 380px; /* try 300px as default, 320 works a bit better for mobile */
}

.work{
  left: 7em;
  top: -10em; /* -30em or -20em might also work */
  align-items: flex-start;
}
.work .work-content{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 6em;
}
.work .heading{
  text-align: left;
}
.work span{
  font-size: 12px;
}
.project img{
  width: 45em;  
  height: 45em;
  box-shadow: 8px 8px 5px rgba(128, 128, 128, 0.226);
}

.contact{
  left: 8em;
}
.contact h1{
  font-size: 4em;
}
.contact .email{
  font-size: 3.5em;
}
.contact li{
  padding-top: 2em;
}
.contact li a{
  font-size: 2.5em;
}
.contact ul{
  padding-left: 0em;
}
.footer{
  top: 7em;
  font-size: 2em;
  left: 7em;
}




}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {


body{
  font-size: 10px;
}
header h1{
  font-size: 5em;  
  padding: 1em;
  margin-right: 0em;
}

nav{
  display: none;
}
.header-title{
  font-size: 3.6em;
  text-align: left;
  top: 1em;
  left: 1em;
}
.about{position: relative;
  display: flex;
  top: -10em;
}
.about img{
  display: none
}
.about-content{
  left: 6em;
}
.about-content p{
  font-size: 3.5em;
  text-align: left;
  width: 700px;
}

.work{
  left: 6em;
  top: 4em;
  align-items: flex-start;
}
.work .work-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5em;
}
.project img{
width: 30em;  
height: 30em;
}

.contact{
  top: 15em;
  left: 6em;
}
.contact h1{
  font-size: 4em;
}
.contact .email{
  font-size: 3.5em;
}

.contact li{
  display: block;
  padding: 2em;
}
.contact li a{
  font-size: 2.5em;
}
.footer{
  top: 4em;
  padding: 1em;
  font-size: 2em;
}

}

/* Large screens ----------- */
@media screen and (min-width: 1824px) {
/* Styles */

body{
  font-size: 20px;
  }
  header h1{
    font-size: 3em;
    margin-right: 25em;
  }

  nav{
  left: 60em;
  top: 12em;
  z-index: 100;
}
nav li{
   font-size: 3em;

}
.header-title{
  font-size: 5em;
  top: 1em;
  left: 1em;
}
.about{position: relative;
  display: flex;
  top: -20em;
}
.about-content{
  left: 10em;
}
.about-content p{
  font-size: 3.5em;
  text-align: left;
  width: 25em;
}
.about img{
  margin-left: 1em;
}

.work{
  left: 10em;
  top: 4em;
  align-items: flex-start;
}
.work .work-content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.project img{
  width: 32em;
  height: 32em;
}

.contact{
  top: 10em;
  left: 8em;
}
.contact h1{
  font-size: 8em;
}
.contact .email{
  font-size: 5em;
}

.contact li a{
  font-size: 4em;
  padding: 1em;
}
.footer{
  top: 4em;
  padding: 1em;
  font-size: 4em;
}

}